* {
   padding: 0;
    margin: 0; 
}
body {
    text-align: center;
    background-image: url("https://i.imgur.com/43dmKYL.jpg");
    background-size: cover;
    color: #fff;
    font-family: Helvetica;
  }
  hr {
    width: 800px;
  }
  p {
    font-size: 22px;
  }
#slogan {
  font-style: italic;
}